#!/bin/python3

#SBATCH -J dummy_job
#SBATCH -t 60

print("Executing dummy job script")
with open("{{ data['filename'] }}", mode="w") as dump_file:
    print("I am a very, very dumb job script", file=dump_file)
    print("foo={{ data['foo'] }}", file=dump_file)
    print("bar={{ data['bar'] }}", file=dump_file)
    print("ntasks={{ data['ntasks'] }}", file=dump_file)
    print("queue={{ data['queue'] }}", file=dump_file)
    print("toppings={{ data['toppings'] }}", file=dump_file)
    print("notify={{ data['notify'] }}", file=dump_file)
    print("email={{ data['email'] }}", file=dump_file)
