#!/bin/python3

#SBATCH -J dummy_job
#SBATCH -t 60

print("Executing dummy job script")
with open("dummy-ouput.txt", mode="w") as dump_file:
    print("I am a very, very dumb job script", file=dump_file)
    print("foo={{ data['foo'] }}", file=dump_file)
    print("bar={{ data['bar'] }}", file=dump_file)
    print("baz={{ data['baz'] }}", file=dump_file)
