[tool.poetry]
authors = ["Omnivector Solutions <info@omnivector.solutions>"]
name = "jobbergate-api"
description = "Jobbergate API"
license = "MIT"
version = "2.2.7"

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.68.0"
email_validator = "^1.1.0"
psycopg2 = "^2.9.1"
passlib = "^1.7.2"
python-multipart = "^0.0.5"
python-dotenv = "^0.16.0"
databases = {extras = ["sqlite"], version = "^0.5.3"}
boto3 = "^1.17.51"
Jinja2 = "^3.0.3"
asyncpg = "^0.22.0"
loguru = "^0.6.0"
uvicorn = "^0.15.0"
armasec = {version = "^0.8.0*", allow-prereleases = true}
sentry-sdk = "^1.5.0"
yarl = "^1.7.2"
alembic = "^1.7.5"
typer = "^0.4.0"
py-docker-gadgets = "0.1.1"

[tool.poetry.dev-dependencies]
black = { version = "^19", allow-prereleases = true }
pre-commit = "^2.9.2"
pytest = "^6.2"
pytest-asyncio = "^0.12"
pytest-cov = "^2.8"
python-status = "i^1.0"
requests = "^2.23.0"
nest_asyncio = "^1.3.3"
coverage = "^5.1"
pgcli = "^3.1.0"
ipython = "^7.31.1"
pytest-freezegun = "^0.4.2"
pytest-env = "^0.6.2"
asgi-lifespan = "^1.0.1"
pytest-random-order = "^1.0.4"
mypy = "^0.910"
sqlalchemy-stubs = "^0.4"
isort = "^5.9.3"
respx = "^0.17.1"
py-docker-gadgets = "^0.1.0"
pyproject-flake8 = "^0.0.1-alpha.2"
flake8-docstrings = "^1.6.0"

[tool.poetry.scripts]
dev-tools = "dev_tools:app"

[tool.black]
line-length = 110

[tool.isort]
line_length = 110
multi_line_output = 3
include_trailing_comma = true

[tool.flake8]
max_line_length = 110
exclude = "alembic/*"
ignore = "D200,D106,D402"


[tool.pytest.ini_options]
minversion = "6.0"
addopts = ["--random-order", "--cov=jobbergate_api"]
testpaths = ["jobbergate_api/tests"]
env = [
    "DEPLOY_ENV = TEST",  # Enforces that test database env vars will be used
    "ARMASEC_DOMAIN = armasec.dev",  # Must align with the rs256_domain fixture in armasec's pytest extension
    "ARMASEC_DEBUG = True",
]

[tool.coverage.report]
    fail_under = 95
    show_missing = true

[[tool.mypy.overrides]]
module = [
    "boto3",
    "botocore.*",
    "uvicorn",
    "asyncpg.*",
    "auto-name-enum",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
