[tool.poetry]
name = "jobbergate-documentation"
version = "4.3.0a4"
description = "Jobbergate Official Documentation"
authors = ["Omnivector Solutions <info@omnivector.solutions>"]
license = "MIT"
repository = "https://github.com/omnivector-solutions/jobbergate"


[tool.poetry.dependencies]
python = "^3.11"
mkdocs-material = "^9.4.2"
mkdocstrings = { extras = ["python"], version = "^0.23.0" }
pygments = "^2.16.1"
jobbergate-core = { path = "../jobbergate-core", develop = true }
jobbergate-api = { path = "../jobbergate-api", develop = true }
jobbergate-cli = { path = "../jobbergate-cli", develop = true }
jobbergate-agent = { path = "../jobbergate-agent", develop = true }

[tool.poetry.group.dev.dependencies]
black = "^23"
isort = "^5.9.3"

[tool.black]
line-length = 120

[tool.isort]
src_paths = ["src"]
multi_line_output = 3
include_trailing_comma = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
