[tool.poetry]
name = "jobbergate-documentation"
version = "3.3.4"
description = "Jobbergate Official Documentation"
authors = ["Omnivector Solutions <info@omnivector.solutions>"]
license = "MIT"
repository = "https://github.com/omnivector-solutions/jobbergate"


[tool.poetry.dependencies]
python = "^3.8"
sphinxcontrib-httpdomain = "^1.8.0"
sphinx-book-theme = "^0.1.6"
toml = "^0.10.2"

[tool.poetry.dev-dependencies]
sphinx-view = "^0.3.1"
black = "^21.9b0"
isort = "^5.9.3"

[tool.black]
line-length = 120

[tool.isort]
src_paths = ["src"]
multi_line_output = 3
include_trailing_comma = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
