[tool.poetry]
name = "jobbergate-cli"
version = "4.3.0a4"
description = "Jobbergate CLI Client"
authors = ["Omnivector Solutions <info@omnivector.solutions>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/omnivector-solutions/jobbergate"
packages = [{ include = "jobbergate_cli" }]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Development Status :: 5 - Production/Stable",
    "Topic :: Scientific/Engineering",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/omnivector-solutions/jobbergate/issues"
"Changelog" = "https://github.com/omnivector-solutions/jobbergate/blob/main/jobbergate-cli/CHANGELOG.rst"

[tool.poetry.dependencies]
python = "^3.8.1"
click = "^8.1.0"
httpx = "^0.24.1"
importlib-metadata = "^4.2"
inquirer = "^3.1.0"
loguru = "^0.6.0"
pendulum = "3.0.0b1"
py-buzz = "^4.0.0"
pydantic = "^1.10.12"
pyperclip = "^1.8.2"
python-dotenv = "^1.0.0"
python-jose = "^3.3.0"
PyYAML = "6.*"
rich = "^11.2.0"
sentry-sdk = "^1.29.2"
typer = "^0.9.0"

[tool.poetry.scripts]
jobbergate = "jobbergate_cli.main:app"

[tool.poetry.group.dev.dependencies]
black = "^23.0"
flake8-pyproject = "^1.2.3"
isort = "^5.9.3"
mypy = "^0.982"
plummet = { extras = ["time-machine"], version = "^1.1.0" }
pytest-cov = "^4.0.0"
pytest-env = "^0.6.2"
pytest-freezegun = "^0.4.2"
pytest-mock = "^3.6.0"
pytest-random-order = "^1.0.4"
pytest-responsemock = "^1.0.1"
respx = "^0.20.1"
types-PyYAML = "^6.0.4"

[tool.pytest.ini_options]
minversion = "7.0"
addopts = [
    "--random-order",
    "--cov=jobbergate_cli",
    "--cov-report=term-missing",
    "--cov-fail-under=85",
]
env = [
    "ARMADA_API_BASE = https://some-pretend-armada-url.com",
    "JOBBERGATE_DEBUG = false",
    "JOBBERGATE_CACHE_DIR = /tmp/jobbergate-cache",
    "OIDC_DOMAIN = dummy_auth_domain.com",
    "OIDC_AUDIENCE = https://dummy_auth_audience.com",
    "OIDC_CLIENT_ID = dummy_client_id",
]

[tool.black]
line-length = 120

[tool.isort]
line_length = 120
lines_after_imports = "2"
profile = "black"
multi_line_output = 3
include_trailing_comma = true

[tool.flake8]
max-line-length = 120
max-complexity = 40

[[tool.mypy.overrides]]
module = ["urllib3", "pyperclip", "inquirer.*", "jose.*", "pep562"]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
