name: Build Documentation

on:
  push:
    paths:
      - "jobbergate-docs/docs/**"
      - "jobbergate-api/jobbergate_api/**"
      - "jobbergate-cli/jobbergate_cli/**"
      - "jobbergate-core/jobbergate_core/**"
      - "jobbergate-agent/jobbergate_agent/**"
      - ".github/workflows/build_docs.yaml"
    branches:
      - "main"

permissions:
  contents: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Set up Python
        uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: 3.14

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Build Documentation
        working-directory: jobbergate-docs
        run: make docs

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.TOKEN }}
          publish_dir: jobbergate-docs/docs/site
