name: Prepare for release

# This action:
#   - Is triggered manually in a workflow dispatch;
#   - Create a new header for the new version at the changelogs;
#   - Create a new branch named prepare-release/<new_version>;
#   - Open a draft PR to the main branch, so all the changes above can be reviewed by the team before merging.

on:
  workflow_dispatch:
    inputs:
      release_number:
        type: string
        description: Release number

permissions:
  contents: write
  pull-requests: write

jobs:
  bump-version:
    runs-on: ubuntu-latest
    env:
      RELEASE_NUMBER: ${{ github.event.inputs.release_number }}
    steps:
      - name: Check if release number is provided
        run: |
          if [ -z "$RELEASE_NUMBER" ]; then
            echo "Release number is required. Please provide it in the workflow dispatch inputs."
            exit 1
          fi

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Update Changelog
        run: uv run towncrier build --yes --version $RELEASE_NUMBER

      - uses: peter-evans/create-pull-request@38e0b6e68b4c852a5500a94740f0e535e0d7ba54 # v4.2.4
        name: Create Pull Request
        id: cpr
        with:
          token: ${{ secrets.TOKEN }}
          commit-message: "Prepared release $RELEASE_NUMBER"
          branch: "prepare-release/$RELEASE_NUMBER"
          title: "Release $RELEASE_NUMBER"
          draft: true
          delete-branch: true
          body: "Automated changes by [prepare_release](https://github.com/omnivector-solutions/jobbergate/blob/main/.github/workflows/prepare_release.yaml) GitHub action."

      - name: Show Pull Request info
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
