name: Publish on Tag

# This action:
#   - Is triggered when a new version is tagged;
#   - Build and release the packages to PyPI.
#   - Build the agent snap and upload to the snap store.
#   - Build the Jobbergate API Docker image and push to ECR.

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+a[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+b[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+rc[0-9]+"

jobs:
  build-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        {
          sub_project:
            [
              "jobbergate-api",
              "jobbergate-cli",
              "jobbergate-core",
              "jobbergate-agent",
            ],
        }
      fail-fast: false
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: "3.14"

      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Build and publish on PyPI
        working-directory: ${{ matrix.sub_project }}
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.OMNIVECTOR_PYPI_TOKEN }}
        run: |
          uv build
          uv publish

  publish-to-ghcr:
    name: Publish to GHCR
    runs-on: ubuntu-latest
    needs: [build-publish]
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        {
          sub_project: ["jobbergate-api", "jobbergate-cli", "jobbergate-agent"],
        }
      fail-fast: false
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ghcr.io/${{ github.repository }}/${{ matrix.sub_project }}
          tags: |
            type=semver,pattern={{version}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6.9.0
        with:
          context: .
          file: ./${{ matrix.sub_project }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  publish-to-ecr:
    name: Publish API to ECR
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Fail if ref is not a tag
        if: github.ref_type != 'tag'
        run: |
          echo "Publish only supported from tag refs!"
          echo "Got ref_type=${{ github.ref_type }} instead"
          exit 1

      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@67fbcbb121271f7775d2e7715933280b06314838 # v1.7.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@2fc7aceee09e9e4a7105c0d060c656fad0b4f63d # v1.7.0

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          IMAGE_TAG=${{ github.ref_name }}
          docker build -t $ECR_REGISTRY/${{ vars.ECR_REPOSITORY }}:$IMAGE_TAG -f jobbergate-api/Dockerfile .
          docker push $ECR_REGISTRY/${{ vars.ECR_REPOSITORY }}:$IMAGE_TAG

  snapstore:
    name: Release Snap to the edge channel
    runs-on: ubuntu-24.04
    needs: [build-publish]
    env:
      SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Install Snapcraft
        uses: samuelmeuli/action-snapcraft@d33c176a9b784876d966f80fb1b461808edc0641 # v2.1.1

      - name: Install Jq
        run: sudo snap install jq --channel latest/stable

      - name: Wait latest version on PyPI
        env:
          PACKAGE_NAME: "jobbergate-agent"
        timeout-minutes: 1
        run: |
          while true; do
            echo "Checking for version $GITHUB_REF_NAME of $PACKAGE_NAME"
            curl -s https://pypi.org/pypi/$PACKAGE_NAME/json | jq -r '.releases | keys[]' | grep -Fxq "$GITHUB_REF_NAME"
            if [ $? -eq 0 ]; then
              echo "Version $GITHUB_REF_NAME is available"
              break
            else
              echo "Version $GITHUB_REF_NAME is not available yet"
              sleep 2
            fi
          done

      - name: Install core24
        run: sudo snap install core24 --channel latest/stable

      - name: Set up LXD
        uses: canonical/setup-lxd@4e959f8e0d9c5feb27d44c5e4d9a330a782edee0 # v0.1.1
        with:
          channel: 5.21/stable

      - name: Build snap
        id: build
        working-directory: ./jobbergate-agent-snap
        run: |
          make build ARGS="-v"
          SNAP_FILE_PATH=`find . -name '*.snap'`
          echo "snap_file_path=$SNAP_FILE_PATH" >> "$GITHUB_OUTPUT"

      - name: Release to Edge
        working-directory: ./jobbergate-agent-snap
        run: |
          snapcraft upload --release latest/edge,latest/candidate ${{ steps.build.outputs.snap_file_path }}

      - name: Archive snap logs
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: upload-snap-log
          path: /home/runner/.local/state/snapcraft/log/**
