name: "Publish Docs"

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-alpha.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-beta.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+a[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+b[0-9]+"

jobs:
  publish:
    name: "Publish docs to S3"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
          aws-region: us-west-2

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: Gr1N/setup-poetry@v8
        with:
          poetry-version: 1.4.2

      - name: Build docs
        working-directory: ./jobbergate-docs
        run: |
          make docs

      - name: Push to S3
        working-directory: ./jobbergate-docs
        run: |
          VERSION=`poetry version -s`
          aws s3 sync ./build s3://docs.omnivector.solutions/jobbergate/$VERSION
          aws s3 sync ./build s3://docs.omnivector.solutions/jobbergate/latest
