name: 'Test'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: "Test code and check lint"
    runs-on: "ubuntu-latest"
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
          architecture: 'x64'
      - name: Python Poetry Action
        uses: abatilo/actions-poetry@v2.1.0
      - name: Install dependencies
        run: |
          pip install tox
      - name: "tests"
        run: |
          tox
      - name: "lint"
        run: |
          tox -e lint
