name: "Test"

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  component-tests:
    name: "jobbergate tests"
    runs-on: "ubuntu-24.04"
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        component: [core, cli, agent]
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: "x64"
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      - name: "run quality control checks"
        working-directory: jobbergate-${{ matrix.component }}
        run: make qa

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        with:
          working-directory: jobbergate-${{ matrix.component }}
          flags: ${{ matrix.component }}
          env_vars: OS,PYTHON
          token: ${{ secrets.CODECOV_TOKEN }}
          file: tests/coverage.xml
          disable_search: true
          fail_ci_if_error: true

  api-tests:
    name: "jobbergate-api tests"
    runs-on: "ubuntu-24.04"
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - name: Run QA
        working-directory: jobbergate-composed
        run: |
          docker compose --profile dev build jobbergate-api-qa
          docker compose --profile dev run --rm jobbergate-api-qa

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4.6.0
        with:
          working-directory: jobbergate-api
          flags: api
          env_vars: OS,PYTHON
          token: ${{ secrets.CODECOV_TOKEN }}
          file: tests/coverage.xml
          disable_search: true
          fail_ci_if_error: true

  agent-snap-tests:
    name: "jobbergate-agent-snap tests"
    runs-on: "ubuntu-22.04"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      - uses: actions/setup-python@7f4fc3e22c37d6ff65e88745f38bd3157c663f7c # v4.9.1
        with:
          python-version: "3.12.3"
          architecture: "x64"
      - name: "run quality control checks"
        working-directory: jobbergate-agent-snap
        run: |
          python -m pip install tox==4.20.0
          make qa
